body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe WPC', 'Segoe UI',
    system-ui, 'Ubuntu', 'Droid Sans', sans-serif;
  font-size: 14px;
  line-height: 1.6;
  background-color: lightgreen;
}

.task-list-item {
  list-style-type: none;
}
.task-list-item-checkbox {
  margin-left: -20px;
  vertical-align: middle;
}

table {
  border: 1px solid;
  text-align: center;
}
thead {
  color: white;
  background: black;
}
tbody:first {
  background: blue;
}

h5 {
  padding: 1rem;
  font-size: 16px;
}

a:link {
  color: #473884;
}

a:visited {
  color: #abc574;
}
